@import '../../../variables';
*{
    font-family: 'Source Serif Pro', serif;
}
 
div{
    .data 
    {
        p{
            display:inline;
            padding-top: 10px;
            padding-bottom: 10px; 
        }
        h5{
            display:inline; 
            padding-top: 10px;
            padding-bottom: 10px; 
        }

    }
    img{
        width: 60%; 
    }
}
.datosP{
    background: rgba(251, 118, 120,0.2)	; 
    border-radius: 2%;
}
canvas{
    height:auto;
    width: 100% !important; 
    max-height: 300px !important; 
}
@media only screen and (min-width: 0px) and (max-width: 575px){ 
    container{
        max-width: 100%;
    }
   }