
        <section>
            <div class="container">
                <form action="aplicacion.html">
                    <h3 class="titulo"> Registro </h3>
                <div class="row">
                    <div class="col">
                      <input type="email" class="form-control" placeholder="Correo">
                    </div>
                </div>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Apellidos">
                    </div>
                  </div>
                <div class="row">
                    <div class="col">
                      <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="col">
                      <input type="password" class="form-control" placeholder="Confirmar contraseña">
                    </div>
                  </div>
                <div class="form-row text-center">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-dark">Registrarme</button>
                    </div>
                </div>
                 <div class="row text-center justify-content-md-center">
                    <div class="col-sm">
                    <small>¿Ya tienes una cuenta?</small> 
                    </div>
                </div>
                <div class="row  text-center justify-content-md-center">
                  <div class="col-sm">
                     <small><a href="Login.html">Inicia sesión</a></small>  
                     </div>
                </div>
                </form>
            </div>
        </section>
        
  