	<section class="header">
	<header>
		<div class="container content">
			<div class="row contenedor_menu_logo">
				<div class="logo col-xs-12 col-md-6">
					<div class="text-center">
						<a href="#"><img src="assets/titulo/logo.png" alt="no disponible"></a>
					</div>
				</div>
				<div class="menu col-xs-12 col-sm-12 col-md-6 text-center">
          			<!--<a [routerLink]="['/registro/']">Regístrate</a>
					<a [routerLink]="['/login/']">Iniciar Sesión</a>-->
					<a *ngIf="user_email==null" [routerLink]="['/login/']">Iniciar Sesión</a>
					<a *ngIf="user_email==null" [routerLink]="['/registro/']">Registrarse</a>
					<h5 *ngIf="user_email!=null" style="color:white;">Bienvenido {{user_name}}</h5>

				</div>

			</div>
<hr>
			<div class="row textos">
				<div class="col-md-6 imagen-mac col-xs-12">
					<a href="#"><img src="assets/titulo/mac.png" alt="no disponible"></a>
				</div>
				<div class="col-md-6 col-xs-12">
					<h1 class="primera_linea">Encuentra tu ouftit ideal</h1>

					<h3 class="segunda_linea">¡Con Find my Outfit puedes obtener el mismo look que tu artista favorito! Utiliza esta nueva herramienta de búsqueda de prendas en más de 100 tiendas, para que así puedas lucir como tú quieres! </h3>

					<div class="contenedor-btn">
						<a href="#"><img src="assets/titulo/googleplay.png" alt="no disponible"></a>
						<a href="#"><img src="assets/titulo/appstore.png" alt="no disponible"></a>
					</div>
					<div class="contenedor-btn-find">
						<a [routerLink]="['/busca-outfit/']"><img src="assets/titulo/botonfind.png" alt="no disponible"></a>
					</div>
				</div>
			</div>
		</div>


	</header>
</section>

	<section class="main">
		<section class="nuestra-app">
			<div class="container content">
				<div class="row">


					<div class="col-md-6 whyuse">
						<h3>¿Por qué usar nuestra aplicación?</h3><br>

						<h5>¿Alguna vez te has imaginado utilizando el Outfit de tu artista favorito? O simplemente te encontraste a una persona en la calle con una blusa que te encantó. Find My Outfit te permite encontrar ese outfit para ti buscando en diferentes tiendas al instante para que puedas encontrar las mejores opciones fácilmente. Todo esto es posible utilizando algoritmos de búsqueda y machine learning. Actualmente en el mercado no hay nada como Find My Outfit, por lo que somos pioneros en esta tecnología. </h5>
					</div>
					<div class="col-md-6 iphone">

						<img src="assets/iphone.png" alt="">

					</div>

				</div>

				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div>
			</div>

		</section>
		<section class="how-works">
			<div class="container content">
				<div class="row">
					<div class="col-md-12">
						<h3 class="titulo">¿Cómo fuciona?</h3>
					</div>
                    <div class="col-md-12">
						<h5> Recopilamos información de cientos de tiendas de ropa y utilizamos deep-learning para identificar las principales caracterísitcas de cada prenda a partir de sus imágenes. Cuando nuestros usuarios suben imágenes identificamos sus principales características y le mostramos aquellas prendas que tengan mayor coincidencia para facilitar su búsqueda. Con un simple click en la prenda los redireccionará automáticamente a las tiendas en donde vendan ese outfit.</h5>
					</div>

				</div>
				<div class="row icons">

					<div class="col-md-12">
						<div class="contenedor-btn-find text-center">
						<a [routerLink]="['/busca-outfit/']"><img src="assets/titulo/botonfind.png" alt="no disponible"></a>
					</div>
					</div>

				</div>
			</div>
		</section>



		<section class="empresa">
			<div class="container content">
				<div class="row">
					<div class="col-md-12">
						<h3 class="titulo">¿Eres empresa?</h3>
					</div>
                    <div class="col-md-12">
						<h5 class="texto">¡Como empresa puedes registrar tus propios artículos para que miles de personas lo puedan comprar!</h5>
					</div>
					<div class="col-md-12">
						<div class="contenedor-btn-empresa text-center">
						<a [routerLink]="['/registro-empresa/']"><img src="assets/titulo/botonempresas.png" alt="no disponible"></a>
					</div>
					</div>

				</div>

			</div>
		</section>
	</section>


