@import '../../../variables';
*{
  font-family: 'Source Serif Pro', serif;
  max-width: 100%;
}

.main .how-works {
color: #fff;
  padding: 80px 0;
      background: #a865e1;
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);
}

.main {
  .how-works{
  
  padding: 5%; 
    .titulo {
      text-align: center;
      font-weight: 300px;
      font-size: 32px;
      color: #000;
      margin-bottom: 70px;
    }
  }
  .nuestra-app {
    padding: 80px 0;
    .titulo {
      text-align: center;
      font-weight: 300;
      font-size: 32px;
      color: #000;
      margin-bottom: 70px;
    }
  }
}

.main .how-works .titulo {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  font-size:40px;
  margin-bottom: 70px;
}

.iphone img{
  width: 500px;
}

.main .nuestra-app {
  padding: 80px 0;
}
.main .nuestra-app .titulo {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  color: #000;
  margin-bottom: 70px;
}

.whyuse{
  padding-left: 30px;
}



header {
  background: url(/assets/welcome-bg.png);
  bacground-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;

  

  .contenedor_menu_logo {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    .logo {
      padding-bottom: 10px;
      a {
        display: block;
        img {
          vertical-align: top;
          width: 350px;
        }
      }
    }

    .menu {
      text-align: right;
      line-height: 50px;
      a {
        color: #fff;
        margin-left: 60px;
        font-size: 19px;
      }
    }
  }
  .textos {
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
    .primera_linea, .segunda_linea {
      font-weight: 300;
      margin: 50px 0;
    }

    .primera_linea {
      font-size: 35px;
      list-style: 35px;
      margin-bottom: 30px;
    }

    .segunda_linea {
      font-size: 20px;
      list-style: 25px;
      margin-bottom: 20px;
    }
    .contenedor-btn img {
      width: 100px;
    }
    .imagen-mac img {
      width: 420px;
    }
  }

  .navbar-default {
    background: #c9c9ff;
    border-color: #c9c9ff;
  }

}

.icons{
padding-top:50px; 
text-align: center; 
}

.contenedor-btn-find img{
  padding-top:20px;
  width: 200px;
}
  
/*MEDIA*/

/*xs*/
@media only screen and (min-width: 0px) and (max-width: 575px){ 
  .main {
    .how-works{
      .titulo {
        font-weight: 100;
        font-size: 32px;
        
      }
    }
    .nuestra-app {
     
      .titulo {
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 70px;
      }
    }
  }


  header {
    text-align: center;
    color: grey;
    padding-bottom: 20px; 
    .contenedor_menu_logo {
      padding: 25px 0;
      .logo {
        a {
          img {
            width: 250px;
          }
        }
      }
  
      .menu {
        line-height: 50px;
        a {
          margin-left: 20px;
          font-size: 14px;
        }
      }
    }
    .textos {
      .primera_linea, .segunda_linea {
        color: #fff;
        font-weight: 300;
        margin: 50px 0;
      
      }
  
      .primera_linea {
        font-size: 35px;
        list-style: 35px;
        margin-bottom: 30px;
        margin-top: 0px;
        color: white; 
      }
  
      .segunda_linea {
        font-size: 19px;
        list-style: 25px;
        margin-bottom: 20px;
        margin-top: -10px;
      }
      .contenedor-btn img {
        width: 100px;
      }
      .imagen-mac img {
        width: 300px;
      }
    }
  
  }
}


/*sm*/
@media only screen and (min-width: 576px) and (max-width: 767px){ 
  .main {
    .how-works{
      .titulo {
        font-weight: 100;
        font-size: 32px;
        
      }
    }
    .nuestra-app {
     
      .titulo {
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 70px;
      }
    }
  }


  header {
    text-align: center;
    color: grey;
    padding-bottom: 20px; 
    .contenedor_menu_logo {
      padding: 25px 0;
      .logo {
        a {
          img {
            width: 250px;
          }
        }
      }
  
      .menu {
        line-height: 50px;
        a {
          margin-left: 60px;
          font-size: 14px;
        }
      }
    }
    .textos {
      .primera_linea, .segunda_linea {
        color: grey;
        font-weight: 300;
        margin: 50px 0;
        text-align: center; 
      
      }
  
      .primera_linea {
        font-size: 35px;
        list-style: 35px;
        margin-bottom: 30px;
        margin-top: 0px;
        color: white; 
      }
  
      .segunda_linea {
        font-size: 20px;
        list-style: 25px;
        margin-bottom: 20px;
        margin-top: 55px;
      }
      .contenedor-btn img {
        width: 100px;
      }
      .imagen-mac img {
        width: 300px;
      }
    }
  
  }
}

/*md*/
@media only screen and (min-width: 768px) and (max-width: 991px){ 
  header{
    height: 619px;
  }
}

/*lg*/
@media only screen and (min-width: 992px) and (max-width: 1199px){ 
  header{
    height: 619px;
  }
}

/*xl*/
@media only screen and (min-width: 1200px){ 

  header{
    height: 769px;
  }
}