<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Catálogo FindMyOutfit</h3>
    </div>
  </div>
      <div class="card-deck sugerencias-seccion">
        <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3" *ngFor="let sugerencia of sugerencias; let i = index">
            <div class="card h-100 sugerencia" id={{sugerencia.id}}>
                  <img src={{sugerencia.url_image}} alt="no disponible">
                  <p class="nombre">{{sugerencia.name}}</p>
                  <p class="tienda">{{sugerencia.store}}</p>
                  <p class="precio">${{setTwoNumberDecimal(sugerencia.cost)}} MXN</p>
                  <a href={{sugerencia.url_website}} class="btn btn-success">Ver en tienda</a>
                  <button type="submit" class="btn btn-danger" (click)="delete_product(sugerencia.id)">Quitar producto</button>
            </div>
      </div>
</div>
