<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Catálogo FindMyOutfit</h3>
    </div>
  </div>
      <div class="card-deck sugerencias-seccion">
        <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3" *ngFor="let sugerencia of sugerencias; let i = index">
            <div class="card h-100 sugerencia">
                  <img src={{sugerencia.url_imagen}} alt="no disponible">
                  <p class="nombre">{{sugerencia.nombre}}</p>
                  <p class="tienda">{{sugerencia.tienda}}</p>
                  <p class="precio">${{setTwoNumberDecimal(sugerencia.costo)}} MXN</p>
                  <a href={{sugerencia.url_sitioweb}} class="btn btn-success">Ver en tienda</a>
                  <button class="btn btn-danger">Quitar producto</button>
            </div>
      </div>
</div>
