<app-navbar></app-navbar>
<div class="container justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3 class="card-title text-center">Busca tu outfit</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p class="card-text text-center">Busca tu outfit a partir de la url de una imagen</p>
            </div>
          </div>
          <br>

            <div class="row ">
              <div class="col-sm-12 col-md-12">
                <img class="mx-auto d-block" src="../../../assets/busca-outfit-imgs/invierno.jpeg" alt="no disponible" id="invierno">
              </div>
            </div>

            <br>

            <!-- Agregar servicio del crawler que devuelva el mismo tipo de ropa que el agregado-->
            <form [formGroup]="imageForm" (ngSubmit)="sendForm()">
              <div class="row">
                  <div class="col-sm-3 col-md-3"></div>
                  <div class="col-sm-6 col-md-6">
                      <input class="form-control form-control-.lg" type="text"  formControlName="img_url">
                  </div>
                  <div class="col-sm-3 col-md-3"></div>
              </div>
              <br>

              <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                  <div class="col-sm-4 col-md-4">
                      <input type="submit" class="btn btn-danger mx-auto d-block" value="Busca mi outfit">
                  </div>
                <div class="col-sm-4 col-md-4"></div>
              </div>
            </form>
      </div>
    </div>
</div>
