<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Sugerencias para ti</h3>
    </div>
  </div>

    <!--AGREGAR BARRA DE ORDENAR POR>
    <!--div class="row" style="padding-bottom: 50px">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <select class="form-control inputstl">
                    <option selected="selected">Opciones</option>
                    <option>Precio: Ascendente</option>
                    <option>Precio: Descendente</option>
                    <option>Mejor Calificados</option>
                </select>
            </div>
        <div class="col-md-4"></div>
    </div-->

    <div class="card-deck ">
      <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
          <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/pantalones.jpeg', 4)">
              <div class="sugerencia">
                  <img src="img/pantalones.jpeg" alt="no disponible">
                  <p class="nombre">Nombre</p>
                  <p class="tienda">Tienda</p>
                  <p class="precio">Precio</p>
                  <a href="#" class="btn">Comprar</a>
              </div>
          </div>
    </div>

          <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/playera.jpeg', 4)">
                  <div class="sugerencia">
                      <img src="img/playera.jpeg" alt="no disponible">
                      <p class="nombre">Nombre</p>
                      <p class="tienda">Tienda</p>
                      <p class="precio">Precio</p>
                      <a href="#" class="btn">Comprar</a>
                  </div>
              </div>
          </div>


          <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/playera2.jpeg', 4)">
                  <div class="sugerencia">
                      <img src="img/playera2.jpeg" alt="no disponible">
                      <p class="nombre">Nombre</p>
                      <p class="tienda">Tienda</p>
                      <p class="precio">Precio</p>
                      <a href="#" class="btn">Comprar</a>
                  </div>
              </div>
          </div>

          <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/pants.jpeg', 4)">
                  <div class="sugerencia">
                      <img src="img/pants.jpeg" alt="no disponible">
                      <p class="nombre">Nombre</p>
                      <p class="tienda">Tienda</p>
                      <p class="precio">Precio</p>
                      <a href="#" class="btn">Comprar</a>
                  </div>
              </div>
          </div>

          <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/pants2.jpeg', 4)">
                  <div class="sugerencia">
                      <img src="img/pants2.jpeg" alt="no disponible">
                      <p class="nombre">Nombre</p>
                      <p class="tienda">Tienda</p>
                      <p class="precio">Precio</p>
                      <a href="#" class="btn">Comprar</a>
                  </div>
              </div>
          </div>

          <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="card card-style"  onclick="openCardInfo('Nombre', 'Tienda', 999,'img/short.jpeg', 4)">
                  <div class="sugerencia">
                      <img src="img/short.jpeg" alt="no disponible">
                      <p class="nombre">Nombre</p>
                      <p class="tienda">Tienda</p>
                      <p class="precio">Precio</p>
                      <a href="#" class="btn">Comprar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
