<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Sugerencias para ti</h3>
    </div>
  </div>

    <!--AGREGAR BARRA DE ORDENAR POR>
    <!--div class="row" style="padding-bottom: 50px">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <select class="form-control inputstl">
                    <option selected="selected">Opciones</option>
                    <option>Precio: Ascendente</option>
                    <option>Precio: Descendente</option>
                    <option>Mejor Calificados</option>
                </select>
            </div>
        <div class="col-md-4"></div>
    </div-->
      <div class="card-deck sugerencias-seccion">
        <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3" *ngFor="let sugerencia of sugerencias; let i = index">
            <div class="card card-style">
                <div class="sugerencia">
                    <img src={{sugerencia.url_imagen}} alt="no disponible">
                    <p class="nombre">{{sugerencia.nombre}}</p>
                    <p class="tienda">{{sugerencia.tienda}}</p>
                    <p class="precio">{{sugerencia.costo}}</p>
                    <!--a href=# class="btn">Ver detalle</a-->
                    <a href={{sugerencia.url_sitioweb}} class="btn btn-success">Ver en tienda</a>
                </div>
            </div>
      </div>
</div>
