<app-navbar></app-navbar>
<div class="container">

<!--test animation-->
<div [@popOverState]="stateName">
  <p><img src="../../../assets/clothes.png" width="50px"></p>
  <p>SOS</p>
</div>
<button (click)="toggle()">Toggle popover</button>

  <!-- IMAGE UPLOADED BY USER-->
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Tu imagen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 mb-3">
      <img class="img-fluid" style="width:100%" src={{imageUrl}} alt="no disponible">
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 mb-3">
        <div class="row">
          <table class="table">
              <tr class="row">
                <th class="col-sm-2 col-md-2 text-center">#</th>
                <th class="col-sm-10 col-md-10 text-center">Tags</th>

              </tr>

              <tr class="row" *ngFor="let display_val of display_tags; let i = index">
                <td *ngIf="display_val" class="col-sm-2 col-md-2 text-center">
                  {{i+1}}
                </td>
                <td *ngIf="display_val" class="col-sm-10 col-md-10 text-center">
                  {{tags[i].name}}
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
</div>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Sugerencias para ti</h3>
    </div>
  </div>
      <div class="card-deck sugerencias-seccion">
        <div class="sugerencias col-sm-6 col-md-6 col-lg-4 mb-3" *ngFor="let sugerencia of sugerencias; let i = index">
            <div class="card h-100 sugerencia">
                <img src={{sugerencia.url_image}} alt="no disponible">
                <p class="nombre">{{sugerencia.name}}</p>
                <p class="tienda">{{sugerencia.store}}</p>
                <p class="precio">${{setTwoNumberDecimal(sugerencia.cost)}} MXN</p>
                <a href={{sugerencia.url_website}} class="btn btn-success">Ver en tienda</a>
            </div>
      </div>
</div>
