<div class="container">


  <div class="row contenedor_menu_logo">

    <!--LOGO APP-->
    <div class="logo col-xs-12 col-sm-5 col-md-5">
      <div class="text-center">
        <a [routerLink]="['']"><img src="../../../assets/navbar/logoblack.png" alt="no disponible"></a>
      </div>
    </div>


    <!--IMAGEN DE PERFIL (EN CASO DE LOGIN)-->
    <div class="logo col-xs-12 col-sm-1 col-md-1">
    </div>



    <!--FORM PARA AGREGAR NUEVOS PRODUCTOS AL CATALOGO (SOLO USUARIOS CON PRIVILEGIOS)-->
    <div class="col-xs-1 col-sm-1 col-md-1">
      <a [routerLink]="['/add-product/']"><img class="img-fluid" src="../../../assets/navbar/add-property.png"></a>
    </div>


    <!--FORM VER Y ELIMINAR PRODUCTOS DEL CATALOGO (SOLO USUARIOS CON PRIVILEGIOS)-->
    <div class="col-xs-1 col-sm-1 col-md-1">
      <a [routerLink]="['/catalog/']"><img class="img-fluid" src="../../../assets/navbar/shirt.png"></a>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1">
      <a [routerLink]="['/busca-outfit/']"><img class="img-fluid" src="../../../assets/navbar/search.png"></a>
    </div>

    <!--HAMBURGER MENU (EN CASO DE LOGIN)-->
    <!--div class="logo col-xs-3 col-sm-3 col-md-3" *ngIf="!auth.isAuthenticated()"-->
    <div class="logo col-xs-3 col-sm-3 col-md-3">
      <mdb-navbar SideClass="navbar navbar-light white" [containerInside]="false" [iconBackground]="['white', 'darken-2']">
        <mdb-navbar-brand><a class="navbar-brand" href="#">Mi Perfil</a></mdb-navbar-brand>


        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" [routerLink]="['/profile/']"> Editar Información</a>
                </li>

                <li class="nav-item">
                    <a (click)="salir()" class="nav-link waves-light" mdbWavesEffect>Cerrar Sesión</a>
                </li>
            </ul>
        </links>

      </mdb-navbar>
    </div>

    <!--DROPDOWN MENU EN CASO DE LOGIN-->
    <!--div class="logo col-xs-12 col-sm-4 col-md-4">
      <div class="btn-group" mdbDropdown>
          <button mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
              Opciones
          </button>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Editar Información</a>
              <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
      </div>
    </div-->


    <!--BOTON INICIA (SI NO HAY LOGIN)-->
    <!--div class="logo col-xs-12 col-sm-4 col-md-4"-->
    <!--/div-->
  </div>
</div>
<hr>
