<div class="container">




  <!-- SHOW EMAIL OF CURRENTLY LOGGED USER-->
  <!--div class="row">
    <div class="logo col-xs-9 col-sm-9 col-md-9 text-center"></div>
    <div class="logo col-xs-3 col-sm-3 col-md-3 text-center">
      <div *ngIf="user_email!=null">
        Usuario: {{user_email}}
      </div>
    </div>
  </div-->
    <!--LOGO APP-->
  <div class="row contenedor_menu_logo">
    <div class="logo col-xs-12 col-sm-5 col-md-5">
      <div class="text-center">
        <a [routerLink]="['']"><img src="../../../assets/navbar/logoblack.png" alt="no disponible"></a>
      </div>
    </div>

    <div class="logo col-xs-1 col-sm-1 col-md-1">
    </div>

    <!--FORM PARA AGREGAR NUEVOS PRODUCTOS AL CATALOGO (SOLO USUARIOS CON PRIVILEGIOS)-->
      <div class="col-xs-1 col-sm-1 col-md-1">
        <a *ngIf="user_email!=null && user_type=='company'" [routerLink]="['/add-product/']"><img class="img-fluid" src="../../../assets/navbar/add-property.png"></a>
      </div>

      <!--FORM VER Y ELIMINAR PRODUCTOS DEL CATALOGO (SOLO USUARIOS CON PRIVILEGIOS)-->
      <div class="col-xs-1 col-sm-1 col-md-1">
        <a *ngIf="user_email!=null && user_type=='company'" [routerLink]="['/catalog/']"><img class="img-fluid" src="../../../assets/navbar/shirt.png"></a>
      </div>

      <div class="col-xs-1 col-sm-1 col-md-1">
        <a [routerLink]="['/busca-outfit/']"><img class="img-fluid" src="../../../assets/navbar/search.png"></a>
      </div>

    <!--HAMBURGER MENU (EN CASO DE LOGIN)-->
    <div *ngIf="user_email!=null" class="logo col-xs-3 col-sm-3 col-md-3">
      <mdb-navbar SideClass="navbar navbar-light white" [containerInside]="false" [iconBackground]="['white', 'darken-2']">
        <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/my-profile/']">Mi Perfil</a></mdb-navbar-brand>


        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" [routerLink]="['/profile/']"> Editar Información</a>
                </li>

                <li class="nav-item">
                    <a (click)="salir()" class="nav-link waves-light" mdbWavesEffect>Cerrar Sesión</a>
                </li>
            </ul>
        </links>

      </mdb-navbar>
    </div>

    <div *ngIf="user_email==null" class="logo col-xs-3 col-sm-3 col-md-3 text-center">
      <a [routerLink]="['/login/']">Iniciar Sesión</a>
      <a [routerLink]="['/registro/']">Registrarse</a>
    </div>

  </div>
</div>
<hr>
