<app-navbar></app-navbar>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Agrega productos al catálogo</h2>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <form [formGroup]="sugerenciaForm" class="col-sm-6 col-md-6 col-lg-6" (ngSubmit)="enviarFormulario()">
      <div>
        <label>Nombre del producto:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Nombre del producto"  formControlName="name">
        <!--div *ngIf="name.invalid">Nombre muy corto</div-->
      </div>
      <br>

      <div>
        <label>Nombre de la tienda:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Nombre de la tienda"  formControlName="store">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>Costo:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Costo"  formControlName="cost">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>URL Imagen:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="URL Imágen" formControlName="url_image">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>URL sitio web:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="URL sitio de venta"  formControlName="url_website">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>Tags:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Tags"  formControlName="tags">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <button class="btn btn-primary pull-xs-right" type="submit">Enviar</button>
    </form>
    <div class="col-md-3"></div>
  </div>
</div>
