<app-navbar></app-navbar>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Agrega productos al catálogo</h2>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <form [formGroup]="sugerenciaForm" class="col-sm-6 col-md-6 col-lg-6" (ngSubmit)="enviarFormulario()">
      <div>
        <label>Nombre del producto:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Nombre del producto"  formControlName="name">
        <!--div *ngIf="name.invalid">Nombre muy corto</div-->
      </div>
      <br>

      <div>
        <label>Nombre de la tienda:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Nombre de la tienda"  formControlName="store">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>Costo:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="Costo"  formControlName="cost">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>URL Imagen:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="URL Imágen" formControlName="url_image">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <div>
        <label>URL sitio web:</label>
        <input class="form-control form-control-.lg" type="text" placeholder="URL sitio de venta"  formControlName="url_website">
        <!--div *ngIf="name.invalid">Nombre muy corto</div>
        <div *ngIf="name.required">Campo requerido</div-->
      </div>
      <br>

      <!--ADD TAGS TO NEW PRODUCT-->
      <label>Tags:</label>
      <div formArrayName="tags">
        <div *ngFor="let item of sugerenciaForm.controls.tags.controls; let i = index;">
          <div [formGroupName]="i">
            <div *ngIf="i<tagCounter">
              <div *ngIf="i==0 || i<tagCounter-1">
                <div class="row"><input class="col-sm-6 col-md-6 col-lg-6 form-control form-control-.lg" type="text" formControlName="tag" placeholder="tag"></div>
              </div>
              <div *ngIf="i==tagCounter-1 && i!=0">
                <div class="row"><input class="col-sm-6 col-md-6 col-lg-6 form-control form-control-.lg" type="text" formControlName="tag" placeholder="tag"><a class="col-sm-6 col-md-6 col-lg-6 remove_field" (click)="remove_last_tag()" style="color:blue;">Elimina Tag</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="add_new_tag()" >Agrega otro Tag</button>
      <br>

      <!--BUTTON FOR FORM SUBMISSION-->
      <button class="btn btn-primary pull-xs-right" type="submit">Agregar al catálogo</button>
    </form>
    <div class="col-md-3"></div>
  </div>
</div>


